body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-image: url('images/background2.png');
    background-size: cover;
}


.formulario{
    width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.215);
    padding: 15px;
    border-radius: 15px;
}

form{
    display: flex;
    flex-direction: column;
}

h1{
    margin: auto;
    margin-bottom: 15px;
    font-weight: 100;
}

fieldset{
    margin: 7px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.382);
}

label{
margin: 7px;
}

.labelInicial {
    margin-left: 60px;
}

input{
    align-items: center;
    background: none;
    padding: 7px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
}

input:focus, select:focus, textarea:focus {
    outline: none !important;
    border: none;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #ffffff;
}

input:hover, select:hover, textarea:hover {
  background-color: rgba(255, 255, 255, 0.119);
 
}

input[type=radio], input[type=checkbox] {
    accent-color: rgb(252, 206, 0);
    margin-left: 50px;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.inputFormulario{
    width: 80%;
}

input::placeholder {
    color: #a49999c0;
}

input:focus::placeholder{
    color: transparent;
   }

#pais{
    background-color: transparent;
    width: 150px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
}

select option {
    color: black;
}


textarea{
    background: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #ffffff;
    padding: 12px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 90px;
    border-radius: 15px;
}


.botonEnviar{
    width: 60%;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(192, 69, 241);
    border: none;
    border-radius: 5px;
}

.botonEnviar:hover{
    background-color: rgb(191, 98, 227);
}

@media only screen and (min-width: 320px) and (max-width: 645px) {
    h1{
        font-size: 31px;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .labelInicial {
        margin-left: 0px;
    }

    .inputFormulario{
        width: 90%;
    }

    input[type=radio]{
        margin: 0;
        margin-left: 15px;
        display: inline-block;
    }

    .botonEnviar{
        width: 90%;
    }


  }